* {
	padding: 0px;
	margin: 0px;
}

body {
	background: black;
	font-family: sans-serif;
}

div.container {
	width: 1000px;
	min-height: 500px;
	/*background: white;*/
	margin: 0 auto;
}

div.header {
	min-height: 50px;
	background: #F5F5F5;
	text-align: right;
}

div.header h2 {
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	color: #333343;
	width: 57%;
	margin-top: 20px;
	margin-right: 50px;
}

/*navigation */

nav {
	margin-right: 20px;
	padding: 15px;
	background-image:
  -webkit-linear-gradient(#EBF0F2, #E3E8EC);
	background-image:
  -o-linear-gradient(#EBF0F2, #E3E8EC);
	background-image:
  linear-gradient(#EBF0F2, #E3E8EC);
}

nav ul {
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
}

nav li {
		display: inline-block;
		margin-right: 10px;
}

nav a {
	text-decoration: none;
	color: #787070;
}

div.body {
	min-height: 50px;
}

div.top {
	text-align: center;
	padding-top: 15px;
}

div.col-50 {
	display: inline-block;
	vertical-align: top;
	width: 55%;
	color: white;
	background-image:
  -webkit-linear-gradient(#373737, #777776);
	background-image:
  -o-linear-gradient(#373737, #777776);
	background-image:
  linear-gradient(#373737, #777776);
  text-align: left;
}

div.col-50  h5, p {
	padding: 15px 25px 0px 25px;
}

div.col-50  p:last-child {
	padding-bottom: 25px;
}

h4.title {
	background-image:
  -webkit-linear-gradient(#FCD049, yellow);
	background-image:
  -o-linear-gradient(#FCD049, yellow);
	background-image:
  linear-gradient(#FCD049, yellow);
	color: black;
	padding: 10px;
	text-transform: uppercase;
}

div.caption {
	color: #979144;
	margin: 0px 10px;
}

div.caption p {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}

div.bottom {
	min-height: 25px;
	text-align: center;
}

div.col-25 {
	min-height: 315px;
	width: 220px;
	background: white;
	display: inline-block;
	vertical-align: top;
	margin: 5px 10px;
}

div.col-25 button {
	background: #FDC700;
	margin: 12px 0px 5px 75px;
	border: 4px solid black;
	cursor: pointer;
	text-transform: uppercase;
	padding: 5px;
	width: 125px;
}

div.col-25 img {
	height: 100px;
	width: 220px;
}

/*Images*/
#main-pic {
	margin: 0px 10px;
	border: 7px solid white;
}

#logo-bug {
	border-radius: 5px;
	margin-left: 5px;
	padding-top: 13px;
}